{% extends 'sitereview/base.html' %}

{% block title %} {{website_alert.title}} {% endblock %}

{% block content %}
<p><a href="{% url 'sitereview:list_website_alert' %}">Return to the list</a></p>
<h1>{{website_alert.title}}</h1>
{% if website_alert.site_closed %}
<h2>Warning</h2>
<p>This website has been closed recently.</p>
{% endif %}
<p>
    {{website_alert.number_votes}} user(s) have voted for this website
    and the average grade is: {{website_alert.average_grade}}
</p>
<p>
    {{website_alert.remark}}
</p>

<p><a href="{{website_alert.url}}">{{website_alert.url}}</a><br>
    {{website_alert.date}}
</p>
{% if request.user.is_anonymous is not True %}
<form method="post" action=".">
    {% csrf_token %}
    {{ form_vote.as_p }}
    <input type="submit" value="Submit">
</form>
{% endif %}
{% endblock %}

