{% extends 'sitereview/base.html' %}
{% load crispy_forms_tags %}
{% block title %} {{website_alert.title}} {% endblock %}

{% block content %}
{% if perms.sitereview.can_verify and website_alert.verify == False %}
<a href="{% url 'sitereview:validate_website_alert' website_alert.id %}" type="button" class="btn btn-success"> Validate </a>
{% endif %}

{% if perms.sitereview.can_edit %}
<a href="{% url 'sitereview:edit_website_alert' website_alert.id %}"  type="button" class="btn btn-warning">Edit</a>
{% endif %}

{% if perms.sitereview.can_unverify and website_alert.verify == True %}
<a href="{% url 'sitereview:unvalidate_website_alert' website_alert.id %}" type="button" class="btn btn-danger"> Delete </a>
{% endif %}

<p><a href="{% url 'sitereview:list_website_alert' %}">Return to the list</a></p>
<h1>{{website_alert.title}}</h1>
{% if website_alert.site_closed %}
<h2>Warning</h2>
<p>This website has been closed recently.</p>
{% endif %}
<p>
    {{website_alert.number_votes}} user(s) have voted for this website
    and the average grade is: {{website_alert.average_grade}}
</p>
<p>
    {{website_alert.remark}}
</p>

<p><a href="{{website_alert.url}}">{{website_alert.url}}</a><br>
    {{website_alert.date}}
</p>
{% if request.user.is_anonymous is not True %}
<form method="post" action=".">
    {% csrf_token %}
    {{ form_vote|crispy }}
    <input type="submit"  class="btn btn-success" value="Submit">
</form>
{% endif %}
{% endblock %}

