{% extends "sitereview/base.html" %}
{% load i18n %}

{% block title %} {% trans "Home" %} {% endblock %}

{% block content %}
<h1>{% blocktrans trimmed %} Welcome to the Citoyen-veilleur website {% endblocktrans %}</h1>

{% if user == None %}
{% blocktrans trimmed %}You are not connected. Please log in or sign in.{% endblocktrans %}
{% else %}
{% blocktrans trimmed with username=user.username %} Hello {{username}}, you are connected.{% endblocktrans %}
{% endif %}

{% trans "May" context "month name" %}


{% endblock %}
