{% extends "sitereview/base.html" %}
{% load i18n %}

{% block title %} {% trans "Home" %} {% endblock %}

{% block content %}
                    <h1></h1>
                    <div class="jumbotron bg-white shadow mt-4 py-5">
                      <h1 class="display-4">Citoyen veilleur</h1>
		      <h3 class="card-title">WHAT IS THE "RESISTANCECITOYENNE.COM" PLATFORM?</h3>

		      <h6 class="card-title">Our project is to fight against anti-Semitism and its "politically correct" form called anti-Zionism, which invade the web.
		      RESISTANCECITOYENNE.COM is broken down into 2 parts:</h6>

		      <h5 class="card-title">1. A citizen watch</h5>
                        <!-- <p class="lead">A website to track antisemitic websites.<br></p> -->
			<p class="card-text"> A citizen watch against anti-Semitic content that abound on the web.<br>
			  Every citizen who encounters malicious content (texts, videos, posts, comments ...) is encouraged to report it on RESISTANCECITOYENNE.COM
			  by answering our questionnaire, the watchman helps us to classify the threat, its gravity, its visibility ...<br>
			  Our robot collects and crosses all the information and reports, which then allows our team to deal with the dangers as a matter of priority.

			  How do we deal with the dangers?
			  Depending on the characteristics of the reported content, our team performs several actions:
			  <ul>
			    <li>Reporting to the concerned site</li>
			    <li>Reporting to the host of the site concerned</li>
			    <li>Creating an answer argued on RESISTANCECITOYENNE.COM, as well as on the concerned site, if possible, in order not to leave the place clear to slanders.</li>
			    <li>Legal proceedings against the author of the content, the site, and the host in case of complicit passivity thereof.</li>
			   </ul>
			</p>
			<h5 class="card-title">2. A Bank of Responses and Arguments, Smart and Caring</h5>			

			<p class="card-text">Too often, we are dismayed at the toxicity of antisemitic content, their inconsistencies, manipulations, conspiracy and revisionism.
			It is extremely difficulat to structure a healthy and benevolent response to arguments that mock reality and truth.
			Most of the time, the citizen ulcerates, and gives up the ground.

			RESISTANCECITOYENNE.COM, proposes standard answers.
			Texts, video contents, historical references, official figures ...

			Every citizen can enrich this arsenal of intellectual defense!

			How?
			<ul>
			  <li>By relaying on this part of the platform the interesting contents that he crossed on the web in particular.</li>
			  <li>By copying tights, sharing ... these sources, the citizen gives them a new life, greater visibility and therefore greater efficiency.</li>
			  <li>Again, our robot will sort these sources, and pass them to our team who will judge their quality.</li>
			  <li>Each positive content thus validated will be made available to all citizens on the platform.</li>
			</ul>
			</p>
                        <hr class="my-4">
                        <!-- <p>The goal of this website is to provide a full plateform to track all antisemitic websites, with the websites updated by an active community of "Citoyens veilleurs". </p> -->
                        <a class="btn btn-primary btn-lg" href="#" role="button"><i class="fa fa-angle-double-right"></i>
Learn more</a>
                    </div>

                    <div class="card-group">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><span class="icon ion-md-nuclear"></span> Track antisemitism</h5>
                                <p class="card-text">Because antisemitism must be fight with force this website aims to list all antisemitic websites.</p>
                            </div>
                            <div class="card-footer">
                               <!-- <a href="#" class="btn btn-primary"><i class="fa fa-angle-double-right"></i> Learn more</a> -->
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><span class="icon ion-md-contacts"></span> Create a community</h5>
                                <p class="card-text">Because people are always more efficient together, we will create a community of active "citoyens veilleurs".</p>
                            </div>
                            <div class="card-footer">
                               <!-- <a href="#" class="btn btn-primary"><i class="fa fa-angle-double-right"></i> Learn more</a> -->
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa fa-balance-scale"></i> Justice</h5>
                                <p class="card-text">Whenever possible, we will try to trigger legal actions against most dangerous antisemitic websites.</p>
                            </div>
                            <div class="card-footer">
                                <!-- <a href="#" class="btn btn-primary"><i class="fa fa-angle-double-right"></i> Learn more</a> -->
                            </div>
                        </div>
                    </div>


{% endblock %}
